*{
    margin: 0;
    padding:0;    
    font-family: 'Nunito',sans-serif;
    color: black;
}
.container{
    width: 99.7%;
    border: 2px solid blue;
    height: fit-content;
}
.content {
    margin-left: 5%;
}
.heading1{
    font-size: 50px;
    color: blue;
}   
.links button{
    text-decoration: none;
    background-color: lightblue;
    border: none;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}


