*{
    margin: 0;
    padding:0;    
    font-family: 'Nunito',sans-serif;
    color: black;
}
/* content 1 authors*/
.container{
    width: 99.7%;
    border: 2px solid blue;
    height: fit-content;
}
.content {
    margin-left: 5%;
}
.heading1{
    font-size: 50px;
    color: blue;
}   
#button1 {
    text-decoration: none;
    background-color: lightblue;
    border: none;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}
#button2{
    text-decoration: none;
    background-color: lightblue;
    border: none;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}
/* content 2 quotes */
.container2{
   
}
